<%- include("partial/header") -%>

<main>
  <div class="container">
    <h1>User Profile</h1>
    <% if (t === 1 && user) { %>
    <div class="user-data">
      <p><strong>Name:</strong> <%= user.name %></p>
      <p><strong>Mobile Number:</strong> <%= user.mobno %></p>
      <p><strong>Username:</strong> <%= user.username %></p>
      <p><strong>Email:</strong> <%= user.email %></p>
      <% if (user.school) { %>
      <p><strong>School:</strong> <%= user.school %></p>
      <% } %> <% if (user.course) { %>
      <p><strong>Current Course:</strong> <%= user.course %></p>
      <% } %> <% if (user.degree) { %>
      <p><strong>Degree:</strong> <%= user.degree %></p>
      <% } %> <% if (user.passout) { %>
      <p><strong>Current Year:</strong> <%= user.currentYear %></p>
      <% } %> <% if (user.country) { %>
      <p><strong>Country:</strong> <%= user.country %></p>
      <% } %> <% if (user.linkedProfile) { %>
      <p><strong>LinkedIn Profile:</strong> <%= user.linkedProfile %></p>
      <% } %> <% if (user.github) { %>
      <p><strong>GitHub Profile:</strong> <%= user.github %></p>
      <% } %> <% if (user.skills) { %>
      <p><strong>Skills:</strong> <%= user.skills %></p>
      <% } %> <% if (user.pastProjects) { %>
      <p><strong>Past Projects:</strong> <%= user.pastProjects %></p>
      <% } %>
    </div>
    <% }else { %>
    <p>No user data found.</p>
    <% } %>
  </div>
</main>

<div class="container text-center mt-5">
  <a href="/projects" class="btn-add-project">
      <i class="fa-solid fa-plus"></i> Apply to a Project
  </a>
</div>

<%- include("partial/footer") -%>
