<!-- profile.ejs -->

<%- include("partial/header") -%>

<main>
    <h1>User Profile</h1>
    <% if (user) { %>
        <p>Name: <%= user.name %></p>
        <p>Mobile Number: <%= user.mobno %></p>
        <p>Username: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
        <!-- Other user information you want to display -->
    <% } else { %>
        <p>No user data found.</p>
    <% } %>
</main>

<%- include("partial/footer") -%>
