<%- include("partial/header") -%>

<main>
  <div class="container">
    <h1>User Profile</h1>
    <% if (t === 1 && user) { %>
    <div class="user-data">
      <p><strong>Name:</strong> <%= user.name %></p>
      <p><strong>Mobile Number:</strong> <%= user.mobno %></p>
      <p><strong>Username:</strong> <%= user.username %></p>
      <p><strong>Email:</strong> <%= user.email %></p>
      <% if (user.school) { %>
      <p><strong>School:</strong> <%= user.school %></p>
      <% } %> <% if (user.course) { %>
      <p><strong>Current Course:</strong> <%= user.course %></p>
      <% } %> <% if (user.degree) { %>
      <p><strong>Degree:</strong> <%= user.degree %></p>
      <% } %> <% if (user.passout) { %>
      <p><strong>Current Year:</strong> <%= user.currentYear %></p>
      <% } %> <% if (user.country) { %>
      <p><strong>Country:</strong> <%= user.country %></p>
      <% } %> <% if (user.linkedProfile) { %>
      <p><strong>LinkedIn Profile:</strong> <%= user.linkedProfile %></p>
      <% } %> <% if (user.github) { %>
      <p><strong>GitHub Profile:</strong> <%= user.github %></p>
      <% } %> <% if (user.skills) { %>
      <p><strong>Skills:</strong> <%= user.skills %></p>
      <% } %> <% if (user.pastProjects) { %>
      <p><strong>Past Projects:</strong> <%= user.pastProjects %></p>
      <% } %>
    </div>
    <% } %> 

    <% if (appliedProjects.length > 0) { %>
    <div class="applied-projects">
      <center><h2><strong>Applied Projects</strong></h2></center>
      <% appliedProjects.forEach((project, index) => { %>
      <div class="project-card">
        <h3><%= project.organization %></h3>
        <p><strong>Industry:</strong> <%= project.industry %></p>
        <p><strong>Project Duration:</strong> <%= project.projectduration %></p>
        <p><strong>Skills Required:</strong> <%= project.skills %></p>
        <p><strong>Expected Outcome:</strong> <%= project.outcome %></p>
        <p><strong>Budget:</strong> <%= project.budget %></p>
        <p><strong>Timeline:</strong> <%= project.timeline %></p>
        <p><strong>Comments:</strong> <%= project.comments %></p>
        <% let status = statuses[index]; %>
        <% if (status === 'pending') { %>
          <button class="btn btn-danger" disabled>Pending</button>
        <% } else if (status === 'wip') { %>
          <button class="btn btn-warning" disabled>Work in Progress</button>
        <% } else if (status === 'completed') { %>
          <button class="btn btn-primary change-status-btn" disabled>Completed</button>
        <% } %>
      </div>
      <% }) %>
    </div>
    <% } else { %>
    <p>APPLY NOW!</p>
    <% } %>

    <% if (!user && !appliedProjects) { %>
    <p>No user data found.</p>
    <% } %>
  </div>
</main>

<div class="container text-center mt-5">
  <a href="/projects" class="btn-add-project">
      <i class="fa-solid fa-plus"></i> Apply to a Project
  </a>
</div>

<%- include("partial/footer") -%>
