<%- include("partial/header") -%>

<main>
  <div class="container">
    <h1>All Projects</h1>
    <div class="client-list">
      <% projects.forEach(project => { %>
      <div class="client-card">
        <h3><%= project.organization  %></h3>
        <p><strong>Industry:</strong> <%= project.industry %></p>
        <p><strong>Project Details:</strong> <%= project.projectdetails %></p>
        <p><strong>Project Duration:</strong> <%= project.projectduration %></p>
        <% if (Array.isArray(project.skills)) { %>
        <p><strong>Skills:</strong> <%= project.skills.join(', ') %></p>
        <% } else { %>
        <p><strong>Skills:</strong> <%= project.skills %></p>
        <% } %>
        <p><strong>Outcome:</strong> <%= project.outcome %></p>
        <p><strong>Budget:</strong> <%= project.budget %></p>
        <p><strong>Timeline:</strong> <%= project.timeline %></p>
        <p><strong>Comments:</strong> <%= project.comments %></p>
        <div class="button-container">
            <a href="/apply/<%= project._id %>" class="contact-button">Apply Now</a>
        </div>       
      </div>
      <% }); %>
    </div>
  </div>
</main>

<%- include("partial/footer") -%>
